atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

sublime2/User/Package Control.last-run
sublime2/User/Package\ Control.sublime-settings
git/gitconfig.symlink
