[alias]
	co = checkout
	ca = !git add -A && git commit -av
[apply]
	whitespace = nowarn
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore
	editor = e -w
[credential]
	helper = GIT_CREDENTIAL_HELPER
[difftool]
	prompt = false
[gpg]
	program = /usr/local/bin/gpg
[help]
	autocorrect = 1
[hub]
	protocol = https
[mergetool]
	keepBackup = false
[protocol]
	version = 2
[push]
	default = simple
[user]
	name = AUTHORNAME
	email = AUTHOREMAIL
	signingkey = SIGNINGKEY
