[alias]
	co = checkout
	ca = !git add -A && git commit -av
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[commit]
	gpgsign = true
[core]
	editor = code --wait
	excludesfile = ~/.gitignore
	pager = delta
[credential]
	helper = GIT_CREDENTIAL_HELPER
[delta]
	syntax-theme = Sublime Snazzy
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[help]
	autocorrect = 1
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[merge]
	tool = Kaleidoscope
[mergetool]
	keepBackup = false
[protocol]
	version = 2
[pull]
	rebase = true
[push]
	default = simple
[user]
	name = AUTHORNAME
	email = AUTHOREMAIL
	signingkey = SIGNINGKEY
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
