"*":
  "atom-lint": {}
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "one-dark-ui"
      "firewatch-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    preferredLineLength: 100
    showInvisibles: true
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace": {}
  "go-plus": {}
  linter:
    errorPanelHeight: 151
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-rubocop": {}
  "one-light-ui": {}
  react:
    enabledForAllJavascriptFiles: true
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "source.yaml"
    ]
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    preferredLineLength: 100
".git-commit.text":
  editor:
    preferredLineLength: 100
".git-config.source":
  editor:
    preferredLineLength: 100
".git-rebase.text":
  editor:
    preferredLineLength: 100
".ini.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
